<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    ul{
      list-style-type: none;
    }
  </style>
</head>
<body>


    <div id="app">
      <ul v-for="(content,score) in contents">
        <li><button v-on:click="score += 1">+</button></li>
        <li>
          {{ content.body }} || {{ content.date }} || {{ content.score }}
        </li>
        <li><button v-on:click="score -= 1"> - </button></li>
      </ul>
      <br>
      <textarea v-model="comment" @keydown.enter.exact.prevent="addContent"></textarea>

  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        comment:'',
        score:0,
        contents: [ 
          { 
            body:'',
            date:'',
            score:'',
          }
        ]
      },
      methods: {
        addContent: function () {
          this.contents.push({
            body: this.comment,
            date: this.date='14-11-2020',
            score: this.score
          });
          this.comment=''
        },
    
      }
    })
  </script>
</body>
</html>